        * {
	    box-sizing: border-box;
        
        }
        label {
            font-weight: bold;
        }
        body {
	        background: rgb(174,173,196);
            background: linear-gradient(90deg, rgba(174,173,196,1) 0%, rgba(104,181,196,1) 67%, rgba(246,246,255,1) 93%);
	        display: flex;
	        justify-content: center;
	        align-items: center;
	        flex-direction: column;
	        font-family: 'Montserrat', sans-serif;
	        height: 100vh;
	        margin: -20px 0 50px;
        }
        h1 {
            font-weight: bold;
            margin: 50px;
        }
        p {
            font-size: 14px;
            font-weight: 100;
            line-height: 20px;
            letter-spacing: 0.5px;
            margin: 20px 0 30px;
        }
        button {
            border-radius: 20px;
            border: 1px solid #faedeb;
            background-color: #faedeb;
            color: black;
            font-size: 12px;
            font-weight: bold;
            padding: 5px 20px;
            letter-spacing: 1px;
            text-transform: uppercase;
        }
        fieldset{
            border-color: white;
            border-width: 3px;
        }
        div{
            padding: 30px;
        }